<div>
  <div>
    <h1>Select files</h1>
      <label> Select File
        <input type="file" id="file-upload" class="inputfile"/>
      </label>
    <button id="Select File" style="position: absolute;top:0;right:0;margin-right:50px;border-radius:25px;margin-top:25px;background-color:#659AC3
;color:white;border-color:#2F6690;padding: right 25px;padding-left:20px; " (click)="click()">Open Google Drive</button>
  </div>
  <div id="background">
    <a href="/home">
      <img id="x-mark" src=".//../../../assets/xAsset.png" />
    </a>
  </div>
</div>
<div id="images">
  <h5>Click to view all files</h5>
</div>
<br>
<div class="row">
  <div  class="col-sm-1">Convert </div>
  <div class="dropdown show">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">
      Dropdown link
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item">Word Doc</a>
      <a (click)="convert()" class="dropdown-item">PDF</a>
      <a class="dropdown-item">ZIP File</a>
    </div>
  </div>
</div>

<div id="button3">
  <button id="bdrop" (click)="uploadFile()" type="button">Upload to Dropbox</button>
</div>