<div>
  <div>
    <h1>Select files</h1>
      <label> Select File
        <input (change)="addFile()" type="file" id="file-upload" class="inputfile"/>
      </label>
    <button id="Select File" style="position: absolute;top:0;right:0;margin-right:50px;border-radius:25px;margin-top:25px;background-color:#659AC3
;color:white;border-color:#659AC3;;padding: right 25px;padding-left:20px; " onclick="" (click)="click()">Open Google Drive</button>
  </div>
  <div id="background">
    <a href="/">
      <img id="x-mark" src=".//../../../assets/xAsset.png" />
    </a>
  </div>
</div>
<div id="images">
  <h5>Click to view all files</h5>
</div>

<div>
  <img *ngIf="checker" id="AddFile" src="./../../../assets/AddFile.png" />
</div>


<div id="card" *ngFor="let file of newFiles">
    <div>
      <div id="cardBackground">
      <img src="http://www.iconhot.com/icon/png/devine/256/file-3.png"/>
      </div>
      <div id="fileWords">
      <span>{{file.name}}</span>
      </div>
    </div>
  </div>

<br>
<div class="row">
  <div style="text-align: center;" class="col-sm-1">Converter</div>
  <div class="dropdown show">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">
      Dropdown link
    </a>

    <div class="dropdown-menu" area-labelledby="None">
      <a class="dropdown-item">Word Doc</a>
      <a (click)="convert()" class="dropdown-item">PDF</a>
      <a class="dropdown-item">ZIP File</a>
    </div>
  </div>
</div>

<div id="button3">
  <button id="bdrop" (click)="uploadFile()" type="button">Upload to Dropbox</button>
</div>

<script src="./findfiles.js"></script>